.sobre-section {
    padding: 110px 0 70px;
}

.sobre-content {
    max-width: 600px;
}

.sobre-title {
    font-size: 2.5rem;
    line-height: 1.15;
    font-weight: 700;
    max-width: 600px;
    color: #0f5661;
    text-align: justify;
}

.sobre-text {
    font-size: 1rem;
    line-height: 1.7;
    font-family: "Manrope", sans-serif;
    color: #5f6668;
    margin-top: 25px;
    text-align: justify;
}

.sobre-image {
    max-width: 100%;
    width: 420px;
    height: auto;
}

/* RESPONSIVO */

@media (max-width: 991.98px) {

    .sobre-section {
        padding: 80px 0 50px;
        text-align: center;
    }

    .sobre-content {
        max-width: 100%;
        margin: 0 auto;
    }

    .sobre-title {
        font-size: 2.2rem;
    }

    .sobre-image {
        width: 340px;
    }

}

@media (max-width: 575.98px) {

    .sobre-title {
        font-size: 1.8rem;
    }

    .sobre-text {
        font-size: 0.95rem;
    }

    .sobre-image {
        width: 100%;
        max-width: 300px;
    }

}